body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin: 0 0 20px 0;
}

#videoFeed {
    display: block;
    width: 380px;
    height: 500px;
    object-fit: cover;
    margin: 0 auto 20px;
    overflow: hidden;
}

#takePicture {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin: 0 auto 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#explanation {
    color: #333333;
    font-size: smaller;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}