<!DOCTYPE html>
<html lang="en">
<head>
    <title>CropSpot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}" >
</head>
<body>
    <h1>CropSpot</h1>
    <img id="videoFeed" src="/video_feed">
    <button id="takePicture">Take Picture</button>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div id="explanation">
        <p>Use the camera to take a picture of a crop. Our program will analyze it to find any potential diseases.</p>
    </div>
</body>
</html>
